function Main.main 1
push constant 8
call String.new 1
pop local 0
push local 0
call String.length 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 120
call String.appendChar 2
pop temp 0
push local 0
push constant 121
call String.appendChar 2
pop temp 0
push local 0
push constant 122
call String.appendChar 2
pop temp 0
push local 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
call String.length 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 0
push constant 122
call String.setCharAt 3
pop temp 0
push local 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 23
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 12312
call Output.printInt 1
pop temp 0
push constant 0
return
